<!DOCTYPE html>

<html lang="en">
<head>
    {#  according to :  https://v4.bootcss.com/docs/getting-started/introduction/#}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link href="{% static 'collect/bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet">
    <title>{% block title %}abcbus{% endblock %}</title>
</head>
<body>
{% block content %}

{% endblock content %}
<script src="{% static 'collect/bootstrap4/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'collect/bootstrap4/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>