{% extends 'collect/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
    <main role="main" class="container">
        <div class="jumbotron">
            <h1>个人金融</h1>
            <p class="lead">本模块用于收集各个支行网点每日个金数据详情</p>
            <a class="btn btn-lg btn-primary" href="{% url 'collect:pfadd' %}" role="button"> 去上报数据 &raquo;</a>
            <a class="btn btn-lg btn-dark" href="{% url 'collect:pflist' %}" role="button"> 看提交记录 &raquo;</a>
            {#                        <a class="btn btn-lg btn-dark disabled" href="{% url 'collect:pflist' %}" role="button"> 看提交记录 &raquo;</a>#}
            {% if perms.collect.delete_personalfinance %}
                <a class="btn btn-lg btn-warning" href="{% url 'collect:pfsummary' %}" role="button"> 查报表统计 &raquo;</a>
            {% endif %}
        </div>
    </main>

    <main role="main" class="container">
        <div class="jumbotron">
            <h1>个人贷款</h1>
            <p class="lead">数量大幅降低开发盎司附近的是开放的世界的地方</p>
            <a class="btn btn-lg btn-primary" href="{% url 'collect:pfadd' %}" role="button"> 去上报数据 &raquo;</a>
            <a class="btn btn-lg btn-dark" href="#" role="button"> 看提交记录 &raquo;</a>
            <a class="btn btn-lg btn-warning" href="" role="button"> 查报表统计 &raquo;</a>
        </div>
    </main>

    <main role="main" class="container">
        <div class="jumbotron">
            <h1>网络金融</h1>
            <p class="lead">死库容为out鬼屋报道放大司法所</p>
            <a class="btn btn-lg btn-primary" href="{% url 'collect:pfadd' %}" role="button"> 去上报数据 &raquo;</a>
            <a class="btn btn-lg btn-dark" href="#" role="button"> 看提交记录 &raquo;</a>
            <a class="btn btn-lg btn-warning" href="" role="button"> 查报表统计 &raquo;</a>
        </div>
    </main>

{% endblock content %}
