{% extends 'collect/base.html' %}
{% load static %}
{% block title %}List{% endblock %}

{% block content %}
    <div class="container" id="pflist">
        <form>
            <table class="table table-hover table-striped">
                <thead>
                <tr class="table-success">
                    <th scope="col">序号</th>
                    <th scope="col">提交时间</th>
                    <th scope="col">提交人</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for pf in pfs %}
                    <tr id="pfidx{{ forloop.counter }}">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ pf.submit_time | date:"Y-m-d" }}</td>
                        <td>{{ user.username }}</td>
                        <td>
                            {% if pf.change_times >= 1 %}
                                <a href="{% url 'collect:pfedit' pf.pfid %}"
                                   class="btn btn-sm btn-primary disabled" data-toggle="popover" title="Notice"
                                   data-content="您修改过一次，已经无法修改">修改</a>
                            {% else %}
                                <a href="{% url 'collect:pfedit' pf.pfid %}" class="btn btn-sm btn-primary"
                                   onclick="notice()">修改</a>
                            {% endif %}
                            <button type="button" class="btn btn-sm btn-danger"
                                    onclick="deletepf('pfidx{{ forloop.counter }}',{{ pf.pfid }})">
                                删除
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
        {#  ==============  分页组件=============#}
        <div class="container">
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    {% if pfs.has_previous %}
                        <li><a class="page-link"
                               href="?page={{ pfs.previous_page_number }}">上一页</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"></li>
                    {% endif %}

                    {% for i in pfs.paginator.page_range %}
                        {% if pfs.number == i %}
                            <li class="page-item active" aria-current="page"><a class="page-link">{{ i }}</a>
                            </li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if pfs.has_next %}
                        <li><a class="page-link" href="?page={{ pfs.next_page_number }}">下一页</a></li>
                    {% else %}
                        <li class="page-item disabled"></li>
                        </ul>
                        </nav>
                    {% endif %}
        </div>
    </div>

    <script type="text/javascript">
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function deletepf(tridx, pfid) {
            $.ajax({
                type: "POST",
                url: "/collect/pf/del/" + pfid,
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success: function (result) {
                    {#            console.log(result)#}
                    $("#pflist").html(result);
                }
            });
        }

        function notice() {
            alert("只能修改一次！")
        }

    </script>
{% endblock content %}


