{% extends 'collect/base.html' %}
{% load static %}
{% block title %}New {% endblock %}

{% block content %}
    <div class="container-sm">
        <form class="" method="post" action="">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-3"></div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">大额存款</label>
                    {% if form.large_deposit.value > '0' %}
                        <input type="text" class="form-control" placeholder="1234.56"
                               name="{{ form.large_deposit.html_name }}" value="{{ form.large_deposit.value }}">
                    {% else %}
                        <input type="text" class="form-control" placeholder="1234.56"
                               name="{{ form.large_deposit.html_name }}">
                    {% endif %}
                </div>
                <div class="col-md-3"></div>
            </div>

            <div class="form-row">
                <div class="col-md-3"></div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">贵金属</label>
                    {% if form.precious_metal.value > '0' %}
                        <input type="text" class="form-control" placeholder="1234.56"
                               name="{{ form.precious_metal.html_name }}" value="{{ form.precious_metal.value }}">
                    {% else %}
                        <input type="text" class="form-control" placeholder="1234.56"
                               name="{{ form.precious_metal.html_name }}">
                    {% endif %}
                </div>
                <div class="col-md-3"></div>
            </div>

            <div class="form-row">
                <div class="col-md-3"></div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">基金</label>
                    {% if form.found.value == '0' %}
                        <input type="text" class="form-control" placeholder="1234.56"
                               name="{{ form.found.html_name }}">
                    {% else %}
                        <input type="text" class="form-control" placeholder="1234.56"
                               name="{{ form.found.html_name }}" value="{{ form.found.value }}">
                    {% endif %}
                </div>
                <div class="col-md-3"></div>
            </div>

            <div class="form-row">
                <div class="col-md-3"></div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">备注</label>
                    <input type="text" class="form-control" placeholder="备注"
                           name="{{ form.memo.html_name }}" value="{{ form.memo.value }}">
                </div>
                <div class="col-md-3"></div>
            </div>

            <div class="form-row">
                <div class="col-md-3"></div>
                <div class="form-group col-md-6">
                    <button class="btn btn-lg btn-success btn-block" type="submit">提交</button>
                </div>
                <div class="col-md-3"></div>
            </div>
        </form>
    </div>

{% endblock content %}

